@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}

.about-container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 10rem;
  display: flex;
  animation: fadeIn .5s ease;
}

.about-section {
  width: 100%;
}

.about-banner {
  height: 40rem;
  margin-top: 2rem;
  background: #f3f3f3;
  width: 100%;
  display: flex;
}

.about-banner .about-img {
  /* width: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 60px; */
  position: relative;
  width: 100%;
  height: 100%;
  flex-basis: 50%;
  overflow: hidden;
}

.about-banner .about-img img {
  width: 90%;
  height: 100%;
  object-fit: cover;
  transform: translateX(0rem);
}

.about-banner .about-desc {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 5rem 0;
  flex-basis: 50%;
}

.about-banner .about-desc p {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  width: 80%;
}

.about-section h1 {
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 50px;
  font-weight: 700;
  line-height: 1.5;

}


/* Media Query  */


/* Mobile device  */


@media (min-width: 300px) and (max-width: 560px) {
  .about-container {
    padding: 0;
  }

  .about-section h1 {
    padding: 50px;
  }

  .about-banner {
    height: 60rem;
    flex-direction: column;
  }

  .about-banner .about-img {
    margin: 30px 40px 0;
    width: 90%;
    overflow: unset;
  }

  .about-banner .about-desc {
    flex-direction: row;
  }

  .about-banner .about-desc p {
    text-align: justify;
    font-size: 1.6rem;
  }
}


/* tablet screen */
@media only screen and (min-width: 768px) and (max-width: 1025px) {
  .about-container {
    padding: 10rem 0;
  }

}